$color-primary: white;
$color-secondary: #F2AF05;
$color-text-dark: black;
$color-text-light: #757F8C;
$color-text-opacity: rgba(255,255,255,0.75);
$color-shadow: rgba(0, 24, 71, 0.12);
$color-shadow2: rgb(98, 103, 119);
