extends layout

block content
  nav(class='navbar')
    button(class='btn btn--navbar btn--logout')
    h1(class='navbar__title') Home
    a(href='/leaderboard', class='btn btn--navbar btn--leaderboard')
  div(class='card')
    p(class='card__welcome') Nice to see you again!
    div(class='card__info')
      img(src="/images/profile.jpeg", alt="Profile picture", class='card__img')
      h5(class="card__name")
      h4 Rank: 
        span 116
      div(class='card__line')
      h3
        span(class="card__amount")
        |  coins
  div(class='history')
  a(href="/transfer", class='btn btn--transfer') +
  script(src='/primus/primus.js')
  script(src='/javascripts/index.js')
