extends layout

block content
  nav(class='navbar')
    button(class='btn btn--navbar btn--logout')
      img(src='/images/logout.svg', alt='Logout')
    a(href='/leaderboard', class='btn btn--navbar')
      img(src='/images/leaderboard.svg', alt='Leaderboard')
  div(class='card')
    p(class='card__welcome') Nice to see you again!
    div(class='card__info')
      img(src="/images/profile.jpeg", alt="Profile picture", class='card__img')
      h5 username
      h4 Rank: 
        span 116
      div(class='card__line')
      h3
        span 1122
        |  coins
  div(class='history')
    div(class='history__transfer')
      img(src="/images/profile.jpeg", alt="Profile picture", class='history__img')
      p(class="history__name") Username
      p(class="history__reason") Design help
      p(class="history__amount history__amount--pos") +3
    div(class='history__transfer')
      img(src="/images/profile.jpeg", alt="Profile picture", class='history__img')
      p(class="history__name") Username
      p(class="history__reason") Design help
      p(class="history__amount history__amount--neg") -3
    div(class='history__transfer')
      img(src="/images/profile.jpeg", alt="Profile picture", class='history__img')
      p(class="history__name") Username
      p(class="history__reason") Design help
      p(class="history__amount history__amount--neg") -3
    div(class='history__transfer')
      img(src="/images/profile.jpeg", alt="Profile picture", class='history__img')
      p(class="history__name") Username
      p(class="history__reason") Design help
      p(class="history__amount history__amount--neg") -3
  a(href="/transfer", class='btn btn--transfer') +
  script(src='/javascripts/index.js')
