doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title IMD Virtual Currency
    meta(name='description', content='An app that allows IMD students to send and receive virtual IMD currency.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Hind&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
