doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title IMD Virtual Currency
    meta(name='description', content='An app that allows IMD students to send and receive virtual IMD currency.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
