extends layout

block content
    nav(class='navbar')
        a(href='/', class='btn btn--navbar btn--back')
        h1(class='navbar__title') Leaderboard
        a(href='/leaderboard', class='btn btn--navbar btn--leaderboard')
    div(class='leaderboard')
        div(class='leaderboard__person')
            p(class="leaderboard__place") 1
            img(src="/images/profile.jpeg", alt="Profile picture", class='leaderboard__img')
            p(class="leaderboard__name") Username
            p(class="leaderboard__amount")
                span 1122
                |  coins
        div(class='leaderboard__person')
            p(class="leaderboard__place") 2
            img(src="/images/profile.jpeg", alt="Profile picture", class='leaderboard__img')
            p(class="leaderboard__name") Username
            p(class="leaderboard__amount")
                span 1022
                |  coins
        div(class='leaderboard__person')
            p(class="leaderboard__place") 3
            img(src="/images/profile.jpeg", alt="Profile picture", class='leaderboard__img')
            p(class="leaderboard__name") Username
            p(class="leaderboard__amount")
                span 922
                |  coins
        div(class='leaderboard__person')
            p(class="leaderboard__place") 4
            img(src="/images/profile.jpeg", alt="Profile picture", class='leaderboard__img')
            p(class="leaderboard__name") Username
            p(class="leaderboard__amount")
                span 822
                |  coins
        div(class='leaderboard__person')
            p(class="leaderboard__place") 5
            img(src="/images/profile.jpeg", alt="Profile picture", class='leaderboard__img')
            p(class="leaderboard__name") Username
            p(class="leaderboard__amount")
                span 722
                |  coins
    script(src='/javascripts/leaderboard.js')