extends layout

block content
    nav(class='navbar')
        a(href='/', class='btn btn--navbar btn--back')
        h1(class='navbar__title') Leaderboard
        a(href='/leaderboard', class='btn btn--navbar btn--leaderboard')
    div(class='leaderboard')
    script(src='/javascripts/leaderboard.js')