extends layout

block content
    h1 Welcome to IMD Virtual Currency
    div(class='form')
        input(type='email', name='email', placeholder='Email', class='form__input')
        input(type='password', name='password', placeholder='Password', class='form__input')
        button(class='btn') Login
    a(href='/signup') No account?