.btn {
    @include typo-btn;
    border: none;
    padding: .2em;
    cursor: pointer;
    outline:none;
}

.btn--big {
    background: $color-secondary;
    box-shadow: 0px 4px 4px $color-shadow;
    border-radius: 6px;
    width: 100%;
    margin: 0.7em 0em;
}

.btn--navbar {
    align-items: center;
    background: none;
}